<section class="page-heading wow fadeIn" data-wow-duration="1.5s" style="background-image: url(https://localhost:7124/files//images/01-heading.jpg~/f)">
	<div class="container">
		<div class="page-name">
			<h1>Our Blog</h1>
			<span>Lovely layout of heading</span>
		</div>
	</div>
</section>

<section class="on-blog-grid">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="blog-item">
					@foreach(System.Data.DataRow dr in ViewBag.ds.Rows)
					{
						<a href="blog-single.html"><img src="~/image/@dr["image"].ToString()" alt=""></a>
						<h3><a href="blog-single.html">@dr["title"].ToString()</a></h3>
						<span><a href="#">@dr["name"].ToString()</a> / <a href="#">@dr["date"].ToString()</a> / <a href="#">@dr["country"].ToString()</a></span>
						<p>@dr["description"].ToString()</p>
						<div class="read-more">
							<a asp-action="bclassic" asp-controller="home">Read more</a>
						</div>
					}
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="blog-page-nav text-center">
					<ul>
						<li><a href="#" class="current">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>